<br />
<div class="container jumbotron">
    <div class="col-md-12">
        <h2 class="text-center">Você foi registrado com sucesso. :)</h2>
        <br />
        <img src="~/images/facapedido1.jpg" alt="Faça o seu pedido" class="center-block" />
        <br />
        <p class="text-center">
            <b>
                Você  já pode fazer o login.<br />
                O que você esta esperando, faça o seu pedido...
            </b>
        </p>
    </div>
</div>